// @import "./cssReset.scss";
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
}
.bg-light {
  background-color: #fff !important;
}
.btn {
  padding-left: 25px;
  padding-right: 25px;

  &:focus {
    box-shadow: none !important;
  }
}
.empty-message {
  text-align: center;
  margin: 50px 0;
  font-size: 18px;
}
.divider {
  height: 0;
  margin: 20px 0;
  border-top: 1px solid #f2f2f2;
}

h2 {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 0;
}
.right {
  display: inline-block;
  float: right;
}

.content {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
}
.margin-wrapper {
  @extend .clearfix;
  margin-bottom: 20px;
}

.custom-table {

}



.section {
  @extend .clearfix;
  margin-bottom: 40px;
  font-family: 'Roboto';

  &.empty {
    .body {
      min-height: 100px;
    }
  }

  .body {
    position: relative;

    .empty-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
    }
  }

  .title {
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    position: relative;

    span {
      font-weight: bold;
    }

    .link {
      float: right;
      color: #ff4838;
      font-size: 14px;
      line-height: 18px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // ТОП-треки
  &.top-audio {
    .audio-row {
      width: 50%;
      height: 45px;
      float: left;

      .audio-row-cover {
        width: 36px;
        height: 36px;
      }
    }

    .audio-row-desc {
      width: 60%;

      .singer,
      .song {
        white-space: pre;
        overflow: hidden;
      }

      a {
        font-weight: 400;
      }
    }
  }

  &.collection {
    height: 210px;
    overflow: hidden;
    position: relative;
    background-color: #e8effb;
    border-radius: 3px;

    .layer {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 1;
      cursor: pointer;

      .play-btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition-property: opacity;
        transition-duration: 200ms;
        background-image: url('../img/play.svg');
        background-position: 20px center;
        background-repeat: no-repeat;
        background-size: 40%;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .cover {
      width: 50%;
      height: 100%;
      overflow: hidden;
      float: left;
      position: relative;

      &:after {
        display: block;
        content: "";
        position: absolute;
        right: -1px;
        height: 100%;
        top: 0;
        background: #e8effb;
        -webkit-clip-path: polygon(100% 0, 85% 100%, 100% 100%);
        clip-path: polygon(100% 0, 80% 100%, 100% 100%);
        width: 100%;
      }

      img {
        width: auto;
        height: 100%;
      }
    }

    .description {
      position: absolute;
      display: inline-block;
      top: 50%;
      right: 20px;
      text-align: right;
      transform: translateY(-50%);
      line-height: 20px;

      .label {
        font-size: 16px;
      }

      .label2 {
        font-size: 20px;
      }
    }

    &:hover {
      .layer {
        display: block;
      }
    }
  }
}






.audio-row {
  height: 55px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  width: 100%;

  .loader {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .bg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  &.isPlaying {
    background-color: lighten(#e9f2ff, 2%);

    .bars {
      display: block;
    }

    .bg {
      display: block;
    }
  }

  &.isLoading {
    .loader {
      display: block;
    }

    .bg {
      display: block;
    }
  }

  &.isCurrent {
    background-color: lighten(#e9f2ff, 2%);
  }

  &.mini {
    height: 45px;
    margin-bottom: 2px;

    .audio-row-cover {
      width: 36px;
      height: 36px;

      &.empty {
        background-size: 20px;
      }
    }

    .audio-row-desc {
      margin: 4px 0;

      .singer,
      .song {
        white-space: pre;
        overflow: hidden;
      }

      a {
        font-weight: 400;
      }
    }

    .audio-row-options {
      .add-to-playlist {
        background-position: center 3px;
      }
    }
  }

  &.active {
    background-color: darken(#e9f2ff, 6%);

    &:hover {
      background-color: darken(#e9f2ff, 8%);
    }
  }
}

.audio-row:hover {
  background-color: #e9f2ff;

  .audio-row-options {
    display: block;
  }
}
.audio-row-cover {
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  position: relative;
  background-color: darken(#e9f2ff, 4%);
  background-image: url('../img/quaver.svg');
  background-repeat: no-repeat;
  background-position: center;

  &.empty {
    background-size: 24px;
  }
}

.audio-row-desc {
  float: left;
  margin: 7px 0;
  line-height: 16px;
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;

  a {
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
  }

  .singer {
    margin-bottom: 2px;

    a {
      font-weight: 600;
    }
  }
}
.audio-row-desc .song a {
  color: #888;
}
.audio-row-desc a:hover {
  color: #5698ff;
}
.audio-row-time {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}
.audio-row-options {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  padding: 0 10px;
  z-index: 3;
  line-height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: #e9f2ff;
  cursor: default;

  .item {
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
  }

  .add {
    background-image: url('../img/add-song.svg');
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 14px 5px;
  }

  .add-to-playlist {
    background-image: url('../img/add-to-playlist.svg');
    background-size: 20px;
    background-position: center 8px;
    background-repeat: no-repeat;
    margin: 14px 5px;
  }
}
.bars {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  margin-left: -11px;
  z-index: 2;
  display: none;
}
.bar {
  background: #fff;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}
.mini .bars {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  margin-left: -10px;
}
.mini .bar {
  height: 3px;
  width: 2.5px;
  animation: sound-mini 0ms -800ms linear infinite alternate
}
@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 16px;
  }
}
@keyframes sound-mini {
  0% {
     opacity: .35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 14px;
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }



#outline {
  stroke-dasharray: 2.42777px, 242.77666px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 1.0s linear infinite;
          animation: anim 1.0s linear infinite;
}

@-webkit-keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }
  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }
  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }
  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }
  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}
